<tr class="row" id="account-<%= account.id %>">
  <td class="col-md-3"><%= link_to account.username, account %></td>
  <td class="col-md-3"><%= account.race %></td>
  <td class="col-md-3"><%= account.server_id%></td>
  <td class="col-md-2"><%= link_to "edit", edit_account_path(account), remote: true %></td>
  <td class="col-md-1"><%= link_to "Delete", account, method: "delete" %></td>
</tr>
